/* #contenedorCentral{
    position: absolute;
    left: 10%;
    height: 90%;
} */

#map{
    width: 58%;
    height: 10%;
    margin-left: 21%;
}

#row_map{
    text-align: center;
}

/* #btnCalcularHonduras{
    position: absolute;
    top: 37%;
    left: 42%;
} */

.center{
    text-align: center;
}

.HNGraphic{
    margin-left: 9%;
    margin-bottom: 3%;
}